.custom-carousel, #custom-carousel{
    height: calc(100vh - 65px) !important;
}

.image-container-car{
    display: flex;
    align-items: center;
}

.material-icons{
    padding-top: .3em;
}
nav.transparent{
    background: transprent !important;
}

.cabeceratitulo{
 font-size:40px; 
}
.cabeceratitulos{
 font-size:35px; 
}

.center-my-block{
    margin-top:1em !important;
    display:flex !important;
    justify-content: center !important;
    flex-wrap: wrap !important;
}